@use '@styles/Utils/utils' as utils;

.intro {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);

  //  Background image 
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('@assets/intro/ppcv.jpg') center/cover no-repeat;
    opacity: 0.7;
    transform: scaleX(-1);
  }

  //  Overlay main container 
  &__overlay {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 75px;

    //  Text area: split left & right 
    &__text {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex: 1;

      //  Left section 
      &-left {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &--title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h1 {
            font-size: 48px;
            font-weight: 700;
            color: utils.$white-color;
          }

          h2 {
            font-size: 24px;
            font-weight: 500;
            margin-top: 10px;
            color: utils.$white-color;
            overflow: hidden;
            white-space: nowrap;
            width: 0;
            animation: typing 2s steps(20, end) forwards;
          }
        }

        &--text {
          opacity: 0;
          transform: translateY(20px);
          animation: fadeInUp 1s ease forwards;
          animation-delay: 2s;
          text-align: justify;

          p {
            font-size: 18px;
            color: utils.$bluep-color;
          }
        }
      }

      //  Right section 
      &-right {
        height: 100%;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 40px;
        text-align: justify;

        p {
          font-size: 18px;
          color: utils.$bluep-color;
          opacity: 0;
          transform: translateY(20px);
          animation: fadeInUp 1s ease forwards;
          animation-delay: 3s;

          strong {
            font-weight: 700;
          }
        }
      }
    }

    //  Navigation links 
    &__nav {
      display: flex;
      align-items: center;
      gap: 30px;

      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: utils.$white-color;

        &:hover {
          color: utils.$bluep-color;
        }
      }
    }
  }
}

//  MEDIA QUERIES
@media (max-width: 1024px) {
  .intro__overlay {
    padding: 40px 25px;
    gap: 100px;
  }

  .intro__overlay__text-left--title h1 {
    font-size: 42px;
  }

  .intro__overlay__text-left--title h2 {
    font-size: 22px;
  }

  .intro__overlay__text-left--text p,
  .intro__overlay__text-right p,
  .intro__overlay__nav a {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .intro__overlay__text-left {
    width: 28%;
  }

  .intro__overlay__text-left--text {
    text-align: left;
  }

  .intro__overlay__text-right {
    width: 40%;
    gap: 20px;
  }
}

@media (max-width: 720px) {
  .intro__overlay {
    gap: 50px;
  }

  .intro__overlay__text-left {
    width: 40%;
  }

  .intro__overlay__text-left--title h1 {
    font-size: 24px;
  }

  .intro__overlay__text-left--title h2 {
    font-size: 18px;
  }

  .intro__overlay__text-left--text p,
  .intro__overlay__text-right p,
  .intro__overlay__nav a {
    font-size: 14px;
  }

  .intro__overlay__text-right {
    width: 45%;
    gap: 10px;
    text-align: left;
  }

  .intro__overlay__nav a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .intro__background {
    opacity: 0.7;
  }

  .intro__overlay {
    padding: 20px 10px;
    gap: 50px;
  }

  .intro__overlay__text {
    flex-direction: column;
    align-items: center;
  }

  .intro__overlay__text-left {
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .intro__overlay__text-left--title {
    align-items: center;
    justify-content: center;
  }

  .intro__overlay__text-left--title h1 {
    font-size: 36px;
  }

  .intro__overlay__text-left--title h2 {
    font-size: 22px;
  }

  .intro__overlay__text-left--text {
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
  }

  .intro__overlay__text-left--text p {
    font-size: 13px;
    color: utils.$black-color;
  }

  .intro__overlay__text-right {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-weight: 500;
  }

  .intro__overlay__text-right p {
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
    color: utils.$black-color;
  }

  .intro__overlay__nav a {
    font-size: 12px;
  }
}

//  ANIMATIONS 
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0.2;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}